.menu-btn {
  padding: 0px;
  margin: 0px;
  border: none;

  color: $secondary-text-color;
  background-color: transparent;
  // z-index: 777;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn:hover,
.menu-btn:focus {
  color: $accent-color;
}

.menu-btn__icon {
  fill: currentColor;
}

.menu-btn__icon--cross {
  position: absolute;
  top: 10px;
  right: 15px;
}

// .menu-btn__close {
//   display: none;
// }

// .menu-btn.is-open {
//   // & .menu-btn__icon {
//   //   position: fixed;
//   // }

//   & .menu-btn__close {
//     display: block;
//   }

//   & .menu-btn__menu {
//     display: none;
//   }
// }

@media screen and (max-width: 767px) {
  .menu-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 555;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: $another-accent-color;

    &.is-open {
      display: flex;
      flex-direction: column;
      padding: 48px 40px;

      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-div {
    display: flex;
  }
}
