.portfolio-list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-list__item {
  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: (768px - 60px) / 2;

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: (1200px - 90px) / 3;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
}
