 $primary-text-color: #757575;
    $secondary-text-color: #212121;
    $background-color: #2f303a;
    $secondary-background-color: #f5f4fa;
    $accent-color: #2196f3;
    $another-accent-color: #ffffff;
    $logo-color: #000000;
    $btn-hover-color: #188ce8;
    $contacts-footer-color: rgba(255, 255, 255, 0.6);
    $border-color: #ececec;
    $portfolio-border-color: #eeeeee;
    $icon-background-color: #f5f4fa;
    $icon-social: #afb1b8;
    $task-background: rgba(47, 48, 58, 0.8);
    $portfolio-background: rgba(33, 150, 243, 0.9);
    $modal-backdrop: rgba(0, 0, 0, 0.2);
    $footer-input-border: rgba(255, 255, 255, 0.3);
